.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  max-width: 1360px;
  font-weight: 700;
  line-height: 24px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 20px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.header__signup-btn {
  margin: 0 20px 0 20px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.header__login-btn {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-container a {
  color: #000;
  text-decoration: none;
}

.header__username {
  max-width: 160px;
  min-width: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__avatar {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.header__avatar--placeholder {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
