.modal__content-item {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  border-radius: 20px;
}

.modal__content_type_image {
  overflow: hidden;
}

.modal__image {
  display: block;
  width: 100%;
  height: auto;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 0 32px 32px;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
}
.modal__weather {
  margin: 12px 0 0;
}

.modal__item-close {
  padding: 0;
  position: absolute;
  top: 26px;
  right: 26px;
  border: none;
  width: 16px;
  height: 16px;
  background: url("../../assets/close-white.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__item-delete {
  padding: 0;
  background: transparent;
  position: absolute;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #ff4d00;
  font-size: 20px;
  bottom: 62.5px;
  right: 32px;
}
