@import "./vendor/normalize.css";
@import "./vendor/fonts/fonts.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Cabinet Grotesk";
  background-color: #f7f7f7;
  color: #000000;
}
